<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<!-- <div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p>{{name}}</p>
</div>   -->

<!-- <div ng-app="">
    <p>My first expression: {{ 5 + 5 }}</p>
</div> -->


<!-- <div ng-app="" ng-init="myCol='lightblue'">
    <p>My first expression: {{ 5 + 5 }}</p>
    <input style="background-color:{{myCol}}" ng-model="myCol">
    <p ng-bind="myCol"></p>
</div> -->


<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
    <p>The name is <span ng-bind="person.lastName"></span></p>   
    <p>The name is {{ person.lastName }}</p>
</div>

<div ng-app="myApp" ng-controller="myCtrl">

  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}
  
  </div>
  
  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
  });
  </script>


</body>
</html>